<div id="board">
  
  <!-- title -->
  <div class="header-group">
    <h2 ng-if='!updateBoardTitleShowing' ng-click='showUpdateBoardTitle()' class='board-header'>{{ board.title }}</h2>
    
    <input type="text" id='board-title' ng-model='newBoard.title' ng-if='updateBoardTitleShowing' ng-blur='processBoardUpdate()' class='form-control'>
  </div>
  
  <!-- tagline -->
  <div class="tagline-group">
    <p class="tagline" ng-if='!updateBoardDescShowing' ng-click='showUpdateBoardDesc()'>{{ board.description || 'Add a description to this board...' }}</p>
    <input type='text' ng-model='newBoard.description' ng-if='updateBoardDescShowing' ng-blur='processBoardUpdate()' class='form-control board-desc-input' id='board-desc'>
  </div>
  
  
  <!-- list-grid -->
  <div class="row">
    <div class="list-grid">
      <list-panel ng-repeat="list in lists" list='list'></list-panel>
      <div class="list-panel panel panel-default">
      <div class="panel-heading">
        <h4>Create List:</h4>
      </div>
        <div class="panel-body">
          <form name='newListForm' ng-submit='createList()' class='form'>
            <input type="text" ng-model='newList.title'>
            <input type="submit" class='btn btn-primary'>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>