
.card-grid {
  margin-top: 15px;
  height: 380px;
  .card-panel {
    &:hover {
      box-shadow: 1px 3px 8px #BBB;
    }
    .card-desc.ng-hide-add, .card-desc.ng-hide-remove {
      transition: all 0.5s linear;
    }
  }
}