body {
  background-color: #E4D8C9;
}

.clickable {
  cursor: pointer;
}

.block-link {
  display: inline-block;
  padding: 5px;
}

.tagline {
  color: #aaa;
  font-style: italic;
}

.drag {
  background-color: red;
}

.over {
  // a draggable item has entered
  background-color: red;
}

.delete-x {
  color: #bbb;
  font-size: 10px;
  &:hover {
    background-color: #ddd;
    color: red;
  }
}