<div class="list-panel panel panel-default">

  <div class="panel-heading">
    <span class="clickable delete-x pull-right" ng-click='deleteList()'>X</span>
    <h4 ng-if='!updateListFormShowing' ng-click='showUpdateList()'>{{ list.title }} {{ list.id }}</h4>

    <input type="text" id='updateListInput' ng-model='newList.title' ng-if='updateListFormShowing' ng-blur='processListUpdate()' class='form-control'>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <a ng-click='toggleNewCardForm()' ng-if='!newCardFormShowing' class='clickable block-link'>&#43; New Card</a>
      </div>
    </div>

    <div class="card-grid" droppable drop='moveCard'>
      <form name='newCardForm' ng-submit='createCard()' ng-if='newCardFormShowing'>
        <input type="text" ng-model='newCard.name' placeholder='name'>
        <input type="text" ng-model='newCard.description' placeholder='description'>
        <input type="number" ng-model='newCard.priority' placeholder='priority'>
        <input type="submit" class='btn btn-sm btn-primary'>
      </form>

      <a ng-click='toggleNewCardForm()' ng-if='newCardFormShowing' class='clickable'>cancel</a>

      <card-panel ng-repeat='card in list.cards track by card.id' card='card' id='{{card.id}}' data-parent-id='{{ list.id }}' draggable></card-panel>
    </div>
  </div>
</div>
